books.dtd

<!ELEMENT bookstore (book+)>
<!ELEMENT book (title, author+, year, price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ATTLIST book 
	category CDATA #REQUIRED
	cover CDATA #IMPLIED (paperback|hardback)>
<!ATTLIST title lang CDATA #REQUIRED "en">